In [1]:
import csv
import random
import pandas as pd

# Generate a CSV file with 50000 records
def generate_supplier_data():
    product_types = ["Electronics", "Home Appliances", "Furniture", "Beauty Products"]
    supliers = ["Sup A","Sup B","Sup C"]
    communications = [1,2,3,4,5]
    with open("SupplierData.csv", "w", newline="") as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(["SupplierName", "ProductType", "Quality", "Delivery",
                         "Price", "RepairService", "Reliability", "Communication", "Performance", "Reputation",
                         "Warranty", "Availability"])
        for i in range(50000):
            supplier_name = random.choice(supliers)
            product_type = random.choice(product_types)
            quality = random.choice([1,2,3,4,5])
            time = random.choice([2,4,6,8])
            price = random.randint(10, 1000)
            repair = random.choice([1,0])
            reliability = random.choice([1,2,3,4,5])
            communication = random.choice(communications)
            performance = random.choice([1,2,3,4,5])
            reputation = random.choice([1,2,3,4,5])
            warenty = random.choice([1,0])
            available = random.randint(10, 10000)

            writer.writerow([supplier_name,product_type,quality,time,price,repair,reliability,communication,
            performance,reputation,warenty,available])
    print("SupplierData.csv file has been generated.")
# Generate the CSV file
generate_supplier_data()
pd.read_csv("SupplierData.csv")

SupplierData.csv file has been generated.

,SupplierName,ProductType,Quality,Delivery,Price,RepairService,Reliability,Communication,Performance,Reputation,Warranty,Availability
0,Sup A,Beauty Products,3,4,337,1,1,3,1,1,1,7778
1,Sup A,Beauty Products,2,6,648,1,5,3,3,2,1,4622
2,Sup B,Electronics,3,8,889,1,3,1,3,2,1,9109
3,Sup C,Electronics,4,4,314,1,4,4,1,2,1,3051
4,Sup A,Home Appliances,4,6,605,1,5,2,2,3,0,5253
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Sup A,Furniture,4,8,10,1,3,3,3,1,0,8432
49996,Sup A,Electronics,3,6,522,0,2,4,3,3,0,6737
49997,Sup B,Electronics,2,2,525,0,1,3,4,2,1,8649
49998,Sup A,Home Appliances,2,6,601,1,3,2,5,3,1,7011
49999,Sup C,Beauty Products,3,4,947,1,3,1,5,5,1,5163

In [2]:
import pandas as pd
df = pd.read_csv("SupplierData.csv")
df.describe()

,Quality,Delivery,Price,RepairService,Reliability,Communication,Performance,Reputation,Warranty,Availability
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,3.010900,4.991400,504.772560,0.503380,2.999260,2.989720,2.994520,2.992940,0.501300,5015.826140
std,1.413811,2.233066,286.080523,0.499994,1.414956,1.414968,1.415602,1.412859,0.500003,2892.102809
min,1.000000,2.000000,10.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,10.000000
25%,2.000000,2.000000,255.000000,0.000000,2.000000,2.000000,2.000000,2.000000,0.000000,2512.000000
50%,3.000000,4.000000,504.000000,1.000000,3.000000,3.000000,3.000000,3.000000,1.000000,5024.000000
75%,4.000000,6.000000,753.000000,1.000000,4.000000,4.000000,4.000000,4.000000,1.000000,7543.000000
max,5.000000,8.000000,1000.000000,1.000000,5.000000,5.000000,5.000000,5.000000,1.000000,10000.000000